<div id="chatBox" class="card">
    <div class="chat-box-message-profile-box row g-0">
        <div class="col-auto">
            <div class="card-body">
                <img class=" chat-box-user-profile avatar avatar-md" src="{{user.profileImagePath}}" alt="">
            </div>
        </div>
        <div class="col">
            <div class="card-body ps-0">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-0">{{user.firstName}} {{user.lastName }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="message-input">
        <input type="text" name="" id=""><input type="button" value="send">
    </div>