<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> css}}
  </head>
  <body>
    <script src="/javascripts/landing-page/demo-theme.min.js?1674944402"></script>

    {{> nav}}
    {{{body}}}
         <script>
      $(document).ready(function(){
        chatEvents();
        editEventHandler();
        userEvents();
        landingPageEvents();
        timelineEvents();
        allUsersEvents();
      })
    </script>
  </body>
  {{> scripts}}
</html>
