<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> css}}
  </head>
  <body>

      </script>
    {{{body}}}

  </body>
     <script>
      $(document).ready(function(){
        chatEvents();
        editEventHandler();
        userEvents();
        landingPageEvents();
        timelineEvents();
        allUsersEvents();
      })
    </script>
  {{> scripts}}
</html>
