<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> css}}
  </head>
  <body>

    {{!-- socket cdn for client side --}}
       <script src="/socket.io/socket.io.min.js"></script>
      <script>

        var socket = io("", {transports: ["websocket"]});
        
        //socket.emit('createRoom')

        socket.on('message',(arg)=>{
          console.log(arg)
        })
        socket.on('showCommentAddedMessage',function(data){
          console.log('message from server by emit event data in user-layout-->',data)
          toastr.success(data)
          $("#notificationBigList").load(`/timeline/ div#notificationBigList`)
          //$("#notificationNumber").load(`/timeline/ div#notificationNumber`)
          //$("#notificationList").load(`/timeline/ div#notificationList`)
          //alert(data)
        })

        socket.on('backToPostsaved',function(data){
          toastr.success(data)
          $("#notificationBigList").load(`/timeline/ div#notificationBigList`)
        })

        socket.on('removeNotificationFromList',function(data){
          console.log('Notification data from sever emit',data)
          $("#notificationBigList").load(`/timeline/notification-mark-seen?notificationId=${data.notificationId} div#notificationBigList`)
        })

        socket.on('responseToEventSendMessage',function(data){
          console.log(data)
          toastr.warning('message received',data.message)
        })


      </script>
    <script src="/javascripts/landing-page/demo-theme.min.js?1674944402"></script>

    {{> nav}}
    

    {{{body}}}

    <script>
      $(document).ready(function(){
        chatEvents();
        editEventHandler();
        userEvents();
        landingPageEvents();
        timelineEvents();
        allUsersEvents();
      })
    </script>
  </body>
  {{> scripts}}
</html>
