<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{> css}}
  </head>
  <body>

    {{!-- socket cdn for client side --}}
       <script src="/socket.io/socket.io.min.js"></script>
      <script>
        let messageNotificationNumber = 0;

        var socket = io("", {transports: ["websocket"]});
        
        //socket.emit('createRoom')

        socket.on('message',(arg)=>{
          console.log(arg)
        })
        socket.on('showCommentAddedMessage',function(data){
          console.log('message from server by emit event data in user-layout-->',data)
          toastr.success(data)
          $("#notificationBigList").load(`/timeline/ div#notificationBigList`)
          //$("#notificationNumber").load(`/timeline/ div#notificationNumber`)
          //$("#notificationList").load(`/timeline/ div#notificationList`)
          //alert(data)
        })

        socket.on('backToPostsaved',function(data){
          toastr.success(data)
          $("#notificationBigList").load(`/timeline/ div#notificationBigList`)
        })

        socket.on('removeNotificationFromList',function(data){
          console.log('Notification data from sever emit',data)
          $("#notificationBigList").load(`/timeline/notification-mark-seen?notificationId=${data.notificationId} div#notificationBigList`)
        })


        socket.on('responseToEventSendMessage',function(data){
          console.log(data)
          $("#sendMessageBtn").attr('data-receiver',data.sender)
          if($("#chatBox").attr('chatBoxOf') != data.sender ){
            messageNotificationNumber++;
             $("#messageNotificationNumber").attr('style','display:block;')
            return $("#messageNotificationNumber").html(messageNotificationNumber);
              
          }
          $(".chatbox-change").load(`/chat?fromMessage=${data.sender} div#chatBox`)
          messageNotificationNumber=0;
        })

        socket.on('online',function(data){
          console.log('----------------> online event listened !')
          $(`div[data-userId=${data}]`).attr('style','margin:10px 0;background-color:#ffcccc;border-bottom: 4px solid red;')
        })


      </script>
    <script src="/javascripts/landing-page/demo-theme.min.js?1674944402"></script>

    {{> nav}}
    

    {{{body}}}

    <script>
      $(document).ready(function(){
        editEventHandler();
        userEvents();
        landingPageEvents();
        timelineEvents();
        allUsersEvents();
      })
    </script>
  </body>
  {{> scripts}}
</html>
