.chat-container{
    border:1px solid grey;
    width: 100%;
    height:730px
}
#chatBox{
    height:580px;
    border-bottom: 4px solid grey;
    border-right:2px solid grey ;
    border-radius: 10px;

}
.chat-box-user-profile{
    border-radius: 50%;
    padding:2px;
    border: 2px solid grey;
}
.chat-people-list-profile-img{
    border-radius: 10px;
    border-bottom: 2px solid grey;
    border-right:2px solid grey ;
}
.chat-box-message-profile-box , .card {
    border-bottom: 2px solid grey;
    border-radius: 10px;
}

.list-people{
    height:580px;

    overflow-y:auto;
}
.people:hover{
    border: 2px solid grey;
    border-radius: 10px;
}


.chatbox-change{
  overflow-y: auto;
}


 /*----------------------------->  chat css */


/* Chat containers */
.box {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  #moreBtn{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    /* padding: 10px; */
    /* margin: 10px 0; */
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .box::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .box img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .box img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }
.make-sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}