body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
}
label.error{
  color: red;
}

div#postsInside{
  display: flex;
  flex-wrap: wrap;
}
div.postBox{
  margin: 10px 10px;
}
img.postImage{
  width:350px;
  height:325px
}
img.userProfile{
  height:200px;
  width:200px;
  border-radius: 40%;
}
.postPartial{
  margin:10px 10px;
}
.postTitle{
  margin:0 0 0 0;
}
.postDescription{
  margin:0 0 0 0;
}
hr{
  margin:0px 0px;
  padding: 0 0 0 0;
}
.imageSizeAtViewPost{
  margin:0 0 50px 650px;
  border-radius: 20px;
  height: 250px;
  width:250px;
}
.commentEach{
  margin: 20px 0;
}

.notificationList{
  overflow-y:auto;
  height: 300px;
}